@import "./../../../scss/variables.scss";

.Navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &-Link {
    padding: 10px;
    color: #555;
    border: 1px solid #eee;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      background: lighten($primary-color, 50%);
    }
    &._active {
      background: $primary-color;
      color: #fff;
    }
  }
}