@import "./../../../scss/variables.scss";

.Navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &-Link {
    padding: 10px;
    color: #555;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      background: lighten($primary-color, 50%);
    }
    &._active {
      background: $primary-color;
      color: #fff;
    }
  }
}