@import "./../../../scss/variables.scss";

.Button {
  // --button-color: #{$text-color};
  // --button-border-color: #{$text-color};
  // --button-background-color: #{$text-color};

  color: var(--button-color);
  border: 1px solid var(--button-border-color);
  background-color: var(--button-background-color);

  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  transition: 0.2s;
  display: inline-flex;
  vertical-align: middle;
  margin-top: -3px;
  align-items: center;
  box-shadow: 2px 2px 0 0 var(--button-background-color);

  &:hover {
    box-shadow: 1px 1px 0 0 var(--button-background-color);
    transform: translate(1px, 1px);
  }

  &:active {
    box-shadow: 0px 0px 0 0 var(--button-background-color);
    transform: translate(2px, 2px);
    outline: none;
  }

  &[class*="primary"] {
    --button-color: #fff;
    --button-background-color: #{$primary-color};
    --button-border-color: #{$primary-border-color};
  }
  &[class*="secondary"] {
    --button-color: #fff;
    --button-background-color: #{$secondary-color};
    --button-border-color: #{$secondary-border-color};
  }
  &[class*="danger"] {
    --button-color: #fff;
    --button-background-color: #{$danger-color};
    --button-border-color: #{$danger-border-color};
  }

  &[class*="outline"] {
    --button-color: var(--button-background-color);
    background-color: #fff;
  }

  &[class*="pure"] {
    --button-color: var(--button-background-color);
    background-color: #fff;
    border: 0;
    box-shadow: none;
    padding: 0;
    &:hover {
      // box-shadow: none;
      transform: none;
    }
  }

  &._disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

  &-Icon {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    svg {
      display: inline-block;
      vertical-align: top;
    }
  }
  &-Content {
  }

  &-Icon + &-Content {
    margin-left: 5px;
  }
}
