$text-color: #333;

$primary-color: rgb(62, 85, 148);
$primary-border-color: rgb(43, 60, 109);

$secondary-color:  rgb(151, 157, 172);
$secondary-border-color: rgb(106, 113, 133);

$danger-color: rgb(202, 59, 59);
$danger-border-color: rgb(133, 27, 27);